<section id='info'>
    <h3>Informações da planta</h3>
    <div>
        <!-- <button href='/plants/{plant_name}/graph' hx-get='/plants/{plant_name}/graph' hx-target='#content' hx-trigger='click' hx-swap='outerHTML' hx-indicator='#info'>
            Carregar Gráfico
        </button> -->
        <!-- <button href='/plants/{plant_name}/table' hx-get='/plants/{plant_name}/table' hx-target='#content' hx-trigger='click' hx-swap='outerHTML'
        hx-indicator='#info'>
            Carregar Tabela
        </button> -->
    </div>
    <div id='content' class='htmx-indicator'><b>Carregando...</b></div>
</section>